name: Go

on:
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18

    - name: Build
      run: go build -o build/dpackage.exe

    - name: Test
      run: go test -v ./...
      
    - name: Upload artifacts
      uses: "actions/upload-artifact@v2.2.3"
      with:
        # Artifact name
        name: dpackage
        # Destination path
        path: build
